<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MoneyTrack</a>
<button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newEntry">New Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewUser">User Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="alltreasury">All treasury list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="alltransaction" tabindex="-1" aria-disabled="true">All transacaitons</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
